body {
	font-family: Arial, sans-serif;
	background-color: #F9EAC0;
}
		
table {
	border: 5px solid #000000;
	padding: 5px;
	margin: 20px;
	text-align: center;
	border-spacing: 5px;
}

.Box1 {
	background-color: blue;
	height: 204px;
	width: 204px;
	border: 2px solid #000000;
}

.Box1:hover {
	background-color: black; 
}

.Box2 {
	background-color: white;
	height: 204px;
	width: 204px;
	border: 2px solid #000000;
}

.Box2:hover {
	background-color: black;
}

#gameBoard {
	display: inline-block;
}

#playerInfo {
	display: inline-block;
	vertical-align: top;
}
